body {
    background:#333333;
    color:#DADADA;
     text-overflow: ellipsis;
 font-size: 4vw;
       white-space:nowrap;
       width:90%;
       overflow-x: auto;
         display:inline-block
}
.trainDiv{
width:100%;
  padding: 3vw;
  margin-top: 5px;
  border-radius: .2em;
    border: 1px solid #cccccc;

overflow: hidden;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.trainNo{
  color:#FFEDAF;
 font: italic bold 5vw/6vw Georgia, serif;

}
